/* Global things */
body {
	color: var(--color);
	overflow: hidden;
	background: linear-gradient(180deg ,#0f0f0f 0.5%, #e70808 100%);
	--color: #dfdfdf;
	--points: #ee3a1afff;
	backdrop-filter: brightness(50%) blur(16px);
	animation: bg 15s infinite alternate;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


@keyframes bg {
	0% {background: linear-gradient(180deg ,#0f0f0f 0.5%, #ff0000 100%);}
	5% {background: linear-gradient(180deg ,#0f0f0f 1%, #ff0000 100%);}
	10% {background: linear-gradient(180deg ,#0f0f0f 3%, #ff0000 100%);}
	15% {background: linear-gradient(180deg ,#0f0f0f 5%, #ff0000 100%);}
	20% {background: linear-gradient(180deg ,#0f0f0f 8%, #ff0000 100%);}
	25% {background: linear-gradient(180deg ,#0f0f0f 10%, #ff0000 100%);}
	30% {background: linear-gradient(180deg ,#0f0f0f 12%, #ff0000 100%);}
	35% {background: linear-gradient(180deg ,#0f0f0f 14%, #ff0000 100%);}
	40% {background: linear-gradient(180deg ,#0f0f0f 16%, #ff0000 100%);}	
	45% {background: linear-gradient(180deg ,#0f0f0f 18%, #ff0000 100%);}
	50% {background: linear-gradient(180deg ,#0f0f0f 20%, #ff0000 100%);}
	55% {background: linear-gradient(180deg ,#0f0f0f 23%, #ff0000 100%);}
	60% {background: linear-gradient(180deg ,#0f0f0f 26%, #ff0000 100%);}
	65% {background: linear-gradient(180deg ,#0f0f0f 27%, #ff0000 100%);}
	70% {background: linear-gradient(180deg ,#0f0f0f 29%, #ff0000 100%);}
	75% {background: linear-gradient(180deg ,#0f0f0f 32%, #ff0000 100%);}
	80% {background: linear-gradient(180deg ,#0f0f0f 34%, #ff0000 100%);}
	85% {background: linear-gradient(180deg ,#0f0f0f 36%, #ff0000 100%);}
	90% {background: linear-gradient(180deg ,#0f0f0f 37%, #ff0000 100%);}
	95% {background: linear-gradient(180deg ,#0f0f0f 40%, #ff0000 100%);}
	100% {background: linear-gradient(180deg ,#0f0f0f 43%, #ff0000 100%);}
}




.main {
    position: fixed;
	left: 50%;
    bottom: 0%;
    height: 1px;
    width: 1px;
    background-color: #ee3a1a;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #ee3a1a,25vw -41vh 0px 0px #eaee1a,-20vw 49vh 0px 1px #ee3a1a,5vw 40vh 1px 1px #ee3a1a,29vw 19vh 1px 0px #ee3a1a,-44vw -13vh 0px 0px #ee3a1a,46vw 41vh 0px 1px #ee3a1a,-3vw -45vh 0px 1px #ee3a1a,47vw 35vh 1px 0px #ee3a1a,12vw -8vh 1px 0px #ee3a1a,-34vw 48vh 1px 1px #ee3a1a,32vw 26vh 1px 1px #ee3a1a,32vw -41vh 1px 1px #ee3a1a,0vw 37vh 1px 1px #ee3a1a,34vw -26vh 1px 0px #ee3a1a,-14vw -49vh 1px 0px #ee3a1a,-12vw 45vh 0px 1px #ee3a1a,-44vw -33vh 0px 1px #ee3a1a,-13vw 41vh 0px 0px #ee3a1a,-36vw -11vh 0px 1px #ee3a1a,-23vw -24vh 1px 0px #ee3a1a,-38vw -27vh 0px 1px #ee3a1a,16vw -19vh 0px 0px #ee3a1a,28vw 33vh 1px 0px #ee3a1a,-49vw -4vh 0px 0px #ee3a1a,16vw 32vh 0px 1px #ee3a1a,36vw -18vh 1px 0px #ee3a1a,-25vw -30vh 1px 0px #ee3a1a,-23vw 24vh 0px 1px #ee3a1a,-2vw -35vh 1px 1px #ee3a1a,-25vw 9vh 0px 0px #ee3a1a,-15vw -34vh 0px 0px #ee3a1a,-8vw -19vh 1px 0px #ee3a1a,-20vw -20vh 1px 1px #ee3a1a,42vw 50vh 0px 1px #ee3a1a,-32vw 10vh 1px 0px #ee3a1a,-23vw -17vh 0px 0px #ee3a1a,44vw 15vh 1px 0px #ee3a1a,-40vw 33vh 1px 1px #ee3a1a,-43vw 8vh 0px 0px #ee3a1a,-48vw -15vh 1px 1px #ee3a1a,-24vw 17vh 0px 0px #ee3a1a,-31vw 50vh 1px 0px #ee3a1a,36vw -38vh 0px 1px #ee3a1a,-7vw 48vh 0px 0px #ee3a1a,15vw -32vh 0px 0px #ee3a1a,29vw -41vh 0px 0px #ee3a1a,2vw 37vh 1px 0px #ee3a1a,7vw -40vh 1px 1px #ee3a1a,15vw 18vh 0px 0px #ee3a1a,25vw -13vh 1px 1px #ee3a1a,-46vw -12vh 1px 1px #ee3a1a,-18vw 22vh 0px 0px #ee3a1a,23vw -9vh 1px 0px #ee3a1a,50vw 12vh 0px 1px #ee3a1a,45vw 2vh 0px 0px #ee3a1a,14vw -48vh 1px 0px #ee3a1a,23vw 43vh 0px 1px #ee3a1a,-40vw 16vh 1px 1px #ee3a1a,20vw -31vh 0px 1px #ee3a1a,-17vw 44vh 1px 1px #ee3a1a,18vw -45vh 0px 0px #ee3a1a,33vw -6vh 0px 0px #ee3a1a,0vw 7vh 0px 1px #ee3a1a,-10vw -18vh 0px 1px #ee3a1a,-19vw 5vh 1px 0px #ee3a1a,1vw 42vh 0px 0px #ee3a1a,22vw 48vh 0px 1px #ee3a1a,39vw -8vh 1px 1px #ee3a1a,-6vw -42vh 1px 0px #ee3a1a,-47vw 34vh 0px 0px #ee3a1a,-46vw 19vh 0px 1px #ee3a1a,-12vw -32vh 0px 0px #ee3a1a,-45vw -38vh 0px 1px #ee3a1a,-28vw 18vh 1px 0px #ee3a1a,-38vw -46vh 1px 1px #ee3a1a,49vw -6vh 1px 1px #ee3a1a,-28vw 18vh 1px 1px #ee3a1a,10vw -24vh 0px 1px #ee3a1a,-5vw -11vh 1px 1px #ee3a1a,33vw -8vh 1px 0px #ee3a1a,-16vw 17vh 0px 0px #ee3a1a,18vw 27vh 0px 1px #ee3a1a,-8vw -10vh 1px 1px #ee3a1a;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px #e70808 ,25vw -24vh 0px 1px #ee3a1a,-45vw -22vh 0px 0px #ee3a1a,-37vw -40vh 0px 1px #eaee1a,29vw 19vh 0px 1px #ee3a1a,4vw -8vh 0px 1px #ee3a1a,-5vw 21vh 1px 1px #ee3a1a,-27vw 26vh 1px 1px #ee3a1a,-47vw -3vh 1px 1px #ee3a1a,-28vw -30vh 0px 1px #ee3a1a,-43vw -27vh 0px 1px #ee3a1a,4vw 22vh 1px 1px #ee3a1a,36vw 23vh 0px 0px #ee3a1a,-21vw 24vh 1px 1px #ee3a1a,-16vw 2vh 1px 0px #ee3a1a,-16vw -6vh 0px 0px #ee3a1a,5vw 26vh 0px 0px #ee3a1a,-34vw 41vh 0px 0px #ee3a1a,1vw 42vh 1px 1px #ee3a1a,11vw -13vh 1px 1px #ee3a1a,48vw -8vh 1px 0px #ee3a1a,22vw -15vh 0px 0px #ee3a1a,45vw 49vh 0px 0px #ee3a1a,43vw -27vh 1px 1px #ee3a1a,20vw -2vh 0px 0px #ee3a1a,8vw 22vh 0px 1px #ee3a1a,39vw 48vh 1px 1px #ee3a1a,-21vw -11vh 0px 1px #ee3a1a,-40vw 45vh 0px 1px #ee3a1a,11vw -30vh 1px 0px #ee3a1a,26vw 30vh 1px 0px #ee3a1a,45vw -29vh 0px 1px #ee3a1a,-2vw 18vh 0px 0px #ee3a1a,-29vw -45vh 1px 0px #ee3a1a,-7vw -27vh 1px 1px #ee3a1a,42vw 24vh 0px 0px #ee3a1a,45vw -48vh 1px 0px #ee3a1a,-36vw -18vh 0px 0px #ee3a1a,-44vw 13vh 0px 1px #ee3a1a,36vw 16vh 0px 1px #e70808,40vw 24vh 0px 0px #ee3a1a,18vw 11vh 0px 0px #ee3a1a,-15vw -23vh 1px 0px #ee3a1a,-24vw 48vh 0px 1px #ee3a1a,27vw -45vh 1px 0px #ee3a1a,-2vw -24vh 0px 1px #ee3a1a,-15vw -28vh 0px 0px #ee3a1a,-43vw 13vh 1px 0px #ee3a1a,7vw 27vh 1px 0px #ee3a1a,47vw 5vh 0px 0px #ee3a1a,-45vw 15vh 1px 1px #ee3a1a,-5vw -28vh 0px 1px #ee3a1a,38vw 25vh 1px 1px #ee3a1a,-39vw -1vh 1px 0px #ee3a1a,5vw 0vh 1px 0px #ee3a1a,49vw 13vh 0px 0px #ee3a1a,48vw 10vh 0px 1px #ee3a1a,19vw -28vh 0px 0px #ee3a1a,4vw 7vh 0px 0px #ee3a1a,21vw 21vh 1px 1px #ee3a1a,-15vw -15vh 0px 1px #ee3a1a,-6vw -42vh 1px 0px #ee3a1a,-15vw 48vh 1px 1px #ee3a1a,-23vw 25vh 1px 1px #ee3a1a,-48vw 25vh 0px 1px #ee3a1a,-31vw -19vh 0px 1px #ee3a1a,4vw 37vh 1px 1px #ee3a1a,-43vw 28vh 0px 0px #ee3a1a,3vw -25vh 0px 1px #ee3a1a,-39vw 14vh 0px 1px #ee3a1a,-40vw 31vh 0px 1px #ee3a1a,35vw -36vh 1px 1px #ee3a1a,16vw 49vh 0px 0px #ee3a1a,6vw 39vh 0px 0px #ee3a1a,3vw -35vh 0px 1px #ee3a1a,-44vw -2vh 1px 0px #ee3a1a,-6vw 21vh 1px 0px #ee3a1a,48vw 9vh 1px 1px #ee3a1a,-43vw 30vh 1px 1px #ee3a1a,29vw -12vh 1px 1px #ee3a1a,-48vw 13vh 1px 0px #ee3a1a,-42vw 32vh 1px 1px #ee3a1a,34vw 15vh 1px 1px #ee3a1a,29vw -37vh 1px 1px #ee3a1a,28vw 2vh 0px 0px #ee3a1a;
  animation: zoom 16s alternate infinite; 
}

.main2 {
    position: fixed;
	rotate: 15deg;
    left: 50%;
	bottom: 0%;
    height: 3px;
    width: 3px;
    background-color: #ee3a1a;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #e70808,25vw -41vh 0px 0px #ee3a1a,-20vw 49vh 0px 1px #ee3a1a,5vw 40vh 1px 1px #ee3a1a,29vw 19vh 1px 0px #e70808,-44vw -13vh 0px 0px #ee3a1a,46vw 41vh 0px 1px #ee3a1a,-3vw -45vh 0px 1px #ee3a1a,47vw 35vh 1px 0px #ee3a1a,12vw -8vh 1px 0px #ee3a1a,-34vw 48vh 1px 1px #ee3a1a,32vw 26vh 1px 1px #ee3a1a,32vw -41vh 1px 1px #ee3a1a,0vw 37vh 1px 1px #ee3a1a,34vw -26vh 1px 0px #ee3a1a,-14vw -49vh 1px 0px #ee3a1a,-12vw 45vh 0px 1px #ee3a1a,-44vw -33vh 0px 1px #ee3a1a,-13vw 41vh 0px 0px #ee3a1a,-36vw -11vh 0px 1px #ee3a1a,-23vw -24vh 1px 0px #ee3a1a,-38vw -27vh 0px 1px #ee3a1a,16vw -19vh 0px 0px #ee3a1a,28vw 33vh 1px 0px #ee3a1a,-49vw -4vh 0px 0px #ee3a1a,16vw 32vh 0px 1px #ee3a1a,36vw -18vh 1px 0px #ee3a1a,-25vw -30vh 1px 0px #ee3a1a,-23vw 24vh 0px 1px #ee3a1a,-2vw -35vh 1px 1px #ee3a1a,-25vw 9vh 0px 0px #ee3a1a,-15vw -34vh 0px 0px #ee3a1a,-8vw -19vh 1px 0px #ee3a1a,-20vw -20vh 1px 1px #ee3a1a,42vw 50vh 0px 1px #ee3a1a,-32vw 10vh 1px 0px #ee3a1a,-23vw -17vh 0px 0px #ee3a1a,44vw 15vh 1px 0px #ee3a1a,-40vw 33vh 1px 1px #ee3a1a,-43vw 8vh 0px 0px #ee3a1a,-48vw -15vh 1px 1px #ee3a1a,-24vw 17vh 0px 0px #ee3a1a,-31vw 50vh 1px 0px #ee3a1a,36vw -38vh 0px 1px #e70808,-7vw 48vh 0px 0px #ee3a1a,15vw -32vh 0px 0px #ee3a1a,29vw -41vh 0px 0px #ee3a1a,2vw 37vh 1px 0px #ee3a1a,7vw -40vh 1px 1px #ee3a1a,15vw 18vh 0px 0px #ee3a1a,25vw -13vh 1px 1px #ee3a1a,-46vw -12vh 1px 1px #ee3a1a,-18vw 22vh 0px 0px #ee3a1a,23vw -9vh 1px 0px #ee3a1a,50vw 12vh 0px 1px #ee3a1a,45vw 2vh 0px 0px #ee3a1a,14vw -48vh 1px 0px #ee3a1a,23vw 43vh 0px 1px #ee3a1a,-40vw 16vh 1px 1px #ee3a1a,20vw -31vh 0px 1px #ee3a1a,-17vw 44vh 1px 1px #ee3a1a,18vw -45vh 0px 0px #ee3a1a,33vw -6vh 0px 0px #ee3a1a,0vw 7vh 0px 1px #ee3a1a,-10vw -18vh 0px 1px #ee3a1a,-19vw 5vh 1px 0px #ee3a1a,1vw 42vh 0px 0px #ee3a1a,22vw 48vh 0px 1px #ee3a1a,39vw -8vh 1px 1px #ee3a1a,-6vw -42vh 1px 0px #ee3a1a,-47vw 34vh 0px 0px #ee3a1a,-46vw 19vh 0px 1px #ee3a1a,-12vw -32vh 0px 0px #ee3a1a,-45vw -38vh 0px 1px #ee3a1a,-28vw 18vh 1px 0px #ee3a1a,-38vw -46vh 1px 1px #ee3a1a,49vw -6vh 1px 1px #ee3a1a,-28vw 18vh 1px 1px #ee3a1a,10vw -24vh 0px 1px #ee3a1a,-5vw -11vh 1px 1px #ee3a1a,33vw -8vh 1px 0px #ee3a1a,-16vw 17vh 0px 0px #ee3a1a,18vw 27vh 0px 1px #ee3a1a,-8vw -10vh 1px 1px #ee3a1a;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px #ee3a1a,12vw -24vh 0px 1px #e70808,-45vw -22vh 0px 0px #e70808,-37vw -40vh 0px 1px #ee3a1a,29vw 19vh 0px 1px #ee3a1a,4vw -8vh 0px 1px #ee3a1a,-5vw 21vh 1px 1px #ee3a1a,-27vw 26vh 1px 1px #ee3a1a,-47vw -3vh 1px 1px #ee3a1a,-28vw -30vh 0px 1px #ee3a1a,-43vw -27vh 0px 1px #ee3a1a,4vw 22vh 1px 1px #ee3a1a,36vw 23vh 0px 0px #ee3a1a,-21vw 24vh 1px 1px #ee3a1a,-16vw 2vh 1px 0px #ee3a1a,-16vw -6vh 0px 0px #ee3a1a,5vw 26vh 0px 0px #ee3a1a,-34vw 41vh 0px 0px #ee3a1a,1vw 42vh 1px 1px #ee3a1a,11vw -13vh 1px 1px #ee3a1a,48vw -8vh 1px 0px #ee3a1a,22vw -15vh 0px 0px #ee3a1a,45vw 49vh 0px 0px #ee3a1a,43vw -27vh 1px 1px #ee3a1a,20vw -2vh 0px 0px #ee3a1a,8vw 22vh 0px 1px #ee3a1a,39vw 48vh 1px 1px #ee3a1a,-21vw -11vh 0px 1px #ee3a1a,-40vw 45vh 0px 1px #ee3a1a,11vw -30vh 1px 0px #ee3a1a,26vw 30vh 1px 0px #ee3a1a,45vw -29vh 0px 1px #ee3a1a,-2vw 18vh 0px 0px #ee3a1a,-29vw -45vh 1px 0px #ee3a1a,-7vw -27vh 1px 1px #ee3a1a,42vw 24vh 0px 0px #ee3a1a,45vw -48vh 1px 0px #ee3a1a,-36vw -18vh 0px 0px #ee3a1a,-44vw 13vh 0px 1px #ee3a1a,36vw 16vh 0px 1px #ee3a1a,40vw 24vh 0px 0px #ee3a1a,18vw 11vh 0px 0px #ee3a1a,-15vw -23vh 1px 0px #e70808,-24vw 48vh 0px 1px #ee3a1a,27vw -45vh 1px 0px #ee3a1a,-2vw -24vh 0px 1px #ee3a1a,-15vw -28vh 0px 0px #ee3a1a,-43vw 13vh 1px 0px #ee3a1a,7vw 27vh 1px 0px #ee3a1a,47vw 5vh 0px 0px #ee3a1a,-45vw 15vh 1px 1px #ee3a1a,-5vw -28vh 0px 1px #ee3a1a,38vw 25vh 1px 1px #ee3a1a,-39vw -1vh 1px 0px #ee3a1a,5vw 0vh 1px 0px #ee3a1a,49vw 13vh 0px 0px #ee3a1a,48vw 10vh 0px 1px #ee3a1a,19vw -28vh 0px 0px #ee3a1a,4vw 7vh 0px 0px #ee3a1a,21vw 21vh 1px 1px #ee3a1a,-15vw -15vh 0px 1px #ee3a1a,-6vw -42vh 1px 0px #ee3a1a,-15vw 48vh 1px 1px #ee3a1a,-23vw 25vh 1px 1px #ee3a1a,-48vw 25vh 0px 1px #ee3a1a,-31vw -19vh 0px 1px #ee3a1a,4vw 37vh 1px 1px #ee3a1a,-43vw 28vh 0px 0px #ee3a1a,3vw -25vh 0px 1px #ee3a1a,-39vw 14vh 0px 1px #ee3a1a,-40vw 31vh 0px 1px #ee3a1a,35vw -36vh 1px 1px #ee3a1a,16vw 49vh 0px 0px #ee3a1a,6vw 39vh 0px 0px #ee3a1a,3vw -35vh 0px 1px #ee3a1a,-44vw -2vh 1px 0px #ee3a1a,-6vw 21vh 1px 0px #ee3a1a,48vw 9vh 1px 1px #ee3a1a,-43vw 30vh 1px 1px #ee3a1a,29vw -12vh 1px 1px #ee3a1a,-48vw 13vh 1px 0px #ee3a1a,-42vw 32vh 1px 1px #ee3a1a,34vw 15vh 1px 1px #ee3a1a,29vw -37vh 1px 1px #ee3a1a,28vw 2vh 0px 0px #ee3a1a;
  animation: zoom 19s alternate infinite; 
}

.main3 {
    position: fixed;
	rotate: 43deg;
    bottom: 0%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #ee3a1a;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #ee3a1a,25vw -41vh 0px 0px #ee3a1a,-20vw 49vh 0px 1px #ee3a1a,5vw 40vh 1px 1px #ee3a1a,29vw 19vh 1px 0px #e70808,-44vw -13vh 0px 0px #ee3a1a,46vw 41vh 0px 1px #ee3a1a,-3vw -45vh 0px 1px #ee3a1a,47vw 35vh 1px 0px #ee3a1a,12vw -8vh 1px 0px #ee3a1a,-34vw 48vh 1px 1px #ee3a1a,32vw 26vh 1px 1px #ee3a1a,32vw -41vh 1px 1px #ee3a1a,0vw 37vh 1px 1px #ee3a1a,34vw -26vh 1px 0px #ee3a1a,-14vw -49vh 1px 0px #ee3a1a,-12vw 45vh 0px 1px #ee3a1a,-44vw -33vh 0px 1px #ee3a1a,-13vw 41vh 0px 0px #ee3a1a,-36vw -11vh 0px 1px #ee3a1a,-23vw -24vh 1px 0px #ee3a1a,-38vw -27vh 0px 1px #ee3a1a,16vw -19vh 0px 0px #ee3a1a,28vw 33vh 1px 0px #ee3a1a,-49vw -4vh 0px 0px #ee3a1a,16vw 32vh 0px 1px #ee3a1a,36vw -18vh 1px 0px #ee3a1a,-25vw -30vh 1px 0px #ee3a1a,-23vw 24vh 0px 1px #ee3a1a,-2vw -35vh 1px 1px #ee3a1a,-25vw 9vh 0px 0px #ee3a1a,-15vw -34vh 0px 0px #ee3a1a,-8vw -19vh 1px 0px #ee3a1a,-20vw -20vh 1px 1px #ee3a1a,42vw 50vh 0px 1px #ee3a1a,-32vw 10vh 1px 0px #ee3a1a,-23vw -17vh 0px 0px #ee3a1a,44vw 15vh 1px 0px #ee3a1a,-40vw 33vh 1px 1px #ee3a1a,-43vw 8vh 0px 0px #ee3a1a,-48vw -15vh 1px 1px #e70808,-24vw 17vh 0px 0px #ee3a1a,-31vw 50vh 1px 0px #ee3a1a,36vw -38vh 0px 1px #ee3a1a,-7vw 48vh 0px 0px #ee3a1a,15vw -32vh 0px 0px #ee3a1a,29vw -41vh 0px 0px #ee3a1a,2vw 37vh 1px 0px #ee3a1a,7vw -40vh 1px 1px #ee3a1a,15vw 18vh 0px 0px #ee3a1a,25vw -13vh 1px 1px #ee3a1a,-46vw -12vh 1px 1px #ee3a1a,-18vw 22vh 0px 0px #ee3a1a,23vw -9vh 1px 0px #ee3a1a,50vw 12vh 0px 1px #ee3a1a,45vw 2vh 0px 0px #ee3a1a,14vw -48vh 1px 0px #ee3a1a,23vw 43vh 0px 1px #ee3a1a,-40vw 16vh 1px 1px #ee3a1a,20vw -31vh 0px 1px #ee3a1a,-17vw 44vh 1px 1px #ee3a1a,18vw -45vh 0px 0px #ee3a1a,33vw -6vh 0px 0px #ee3a1a,0vw 7vh 0px 1px #ee3a1a,-10vw -18vh 0px 1px #ee3a1a,-19vw 5vh 1px 0px #ee3a1a,1vw 42vh 0px 0px #ee3a1a,22vw 48vh 0px 1px #ee3a1a,39vw -8vh 1px 1px #ee3a1a,-6vw -42vh 1px 0px #ee3a1a,-47vw 34vh 0px 0px #ee3a1a,-46vw 19vh 0px 1px #ee3a1a,-12vw -32vh 0px 0px #ee3a1a,-45vw -38vh 0px 1px #ee3a1a,-28vw 18vh 1px 0px #ee3a1a,-38vw -46vh 1px 1px #ee3a1a,49vw -6vh 1px 1px #ee3a1a,-28vw 18vh 1px 1px #ee3a1a,10vw -24vh 0px 1px #ee3a1a,-5vw -11vh 1px 1px #ee3a1a,33vw -8vh 1px 0px #ee3a1a,-16vw 17vh 0px 0px #ee3a1a,18vw 27vh 0px 1px #ee3a1a,-8vw -10vh 1px 1px #ee3a1a;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px #ee3a1a,12vw -24vh 0px 1px #ee3a1a,-45vw -22vh 0px 0px #e70808,-37vw -40vh 0px 1px #e70808,29vw 19vh 0px 1px #ee3a1a,4vw -8vh 0px 1px #ee3a1a,-5vw 21vh 1px 1px #ee3a1a,-27vw 26vh 1px 1px #ee3a1a,-47vw -3vh 1px 1px #ee3a1a,-28vw -30vh 0px 1px #ee3a1a,-43vw -27vh 0px 1px #ee3a1a,4vw 22vh 1px 1px #ee3a1a,36vw 23vh 0px 0px #ee3a1a,-21vw 24vh 1px 1px #ee3a1a,-16vw 2vh 1px 0px #ee3a1a,-16vw -6vh 0px 0px #ee3a1a,5vw 26vh 0px 0px #ee3a1a,-34vw 41vh 0px 0px #ee3a1a,1vw 42vh 1px 1px #ee3a1a,11vw -13vh 1px 1px #ee3a1a,48vw -8vh 1px 0px #ee3a1a,22vw -15vh 0px 0px #ee3a1a,45vw 49vh 0px 0px #ee3a1a,43vw -27vh 1px 1px #ee3a1a,20vw -2vh 0px 0px #ee3a1a,8vw 22vh 0px 1px #ee3a1a,39vw 48vh 1px 1px #ee3a1a,-21vw -11vh 0px 1px #ee3a1a,-40vw 45vh 0px 1px #ee3a1a,11vw -30vh 1px 0px #ee3a1a,26vw 30vh 1px 0px #ee3a1a,45vw -29vh 0px 1px #ee3a1a,-2vw 18vh 0px 0px #ee3a1a,-29vw -45vh 1px 0px #ee3a1a,-7vw -27vh 1px 1px #ee3a1a,42vw 24vh 0px 0px #ee3a1a,45vw -48vh 1px 0px #ee3a1a,-36vw -18vh 0px 0px #ee3a1a,-44vw 13vh 0px 1px #ee3a1a,36vw 16vh 0px 1px #ee3a1a,40vw 24vh 0px 0px #ee3a1a,18vw 11vh 0px 0px #ee3a1a,-15vw -23vh 1px 0px #ee3a1a,-24vw 48vh 0px 1px #e70808,27vw -45vh 1px 0px #ee3a1a,-2vw -24vh 0px 1px #ee3a1a,-15vw -28vh 0px 0px #ee3a1a,-43vw 13vh 1px 0px #ee3a1a,7vw 27vh 1px 0px #ee3a1a,47vw 5vh 0px 0px #ee3a1a,-45vw 15vh 1px 1px #ee3a1a,-5vw -28vh 0px 1px #ee3a1a,38vw 25vh 1px 1px #ee3a1a,-39vw -1vh 1px 0px #ee3a1a,5vw 0vh 1px 0px #ee3a1a,49vw 13vh 0px 0px #ee3a1a,48vw 10vh 0px 1px #ee3a1a,19vw -28vh 0px 0px #ee3a1a,4vw 7vh 0px 0px #ee3a1a,21vw 21vh 1px 1px #ee3a1a,-15vw -15vh 0px 1px #ee3a1a,-6vw -42vh 1px 0px #ee3a1a,-15vw 48vh 1px 1px #ee3a1a,-23vw 25vh 1px 1px #ee3a1a,-48vw 25vh 0px 1px #ee3a1a,-31vw -19vh 0px 1px #ee3a1a,4vw 37vh 1px 1px #ee3a1a,-43vw 28vh 0px 0px #ee3a1a,3vw -25vh 0px 1px #ee3a1a,-39vw 14vh 0px 1px #ee3a1a,-40vw 31vh 0px 1px #ee3a1a,35vw -36vh 1px 1px #ee3a1a,16vw 49vh 0px 0px #ee3a1a,6vw 39vh 0px 0px #ee3a1a,3vw -35vh 0px 1px #ee3a1a,-44vw -2vh 1px 0px #ee3a1a,-6vw 21vh 1px 0px #ee3a1a,48vw 9vh 1px 1px #ee3a1a,-43vw 30vh 1px 1px #ee3a1a,29vw -12vh 1px 1px #ee3a1a,-48vw 13vh 1px 0px #ee3a1a,-42vw 32vh 1px 1px #ee3a1a,34vw 15vh 1px 1px #ee3a1a,29vw -37vh 1px 1px #ee3a1a,28vw 2vh 0px 0px #ee3a1a;
  animation: zoom 13s alternate infinite; 
}

.main4 {
    position: fixed;
	rotate: -19deg;
    bottom: 0%;
    left: 50%;
    height: 2px;
    width: 2px;
    background-color: #ee3a1a;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #e70808,25vw -41vh 0px 0px #ee3a1a,-20vw 49vh 0px 1px #ee3a1a,5vw 40vh 1px 1px #ee3a1a,29vw 19vh 1px 0px #e70808,-44vw -13vh 0px 0px #ee3a1a,46vw 41vh 0px 1px #ee3a1a,-3vw -45vh 0px 1px #ee3a1a,47vw 35vh 1px 0px #ee3a1a,12vw -8vh 1px 0px #ee3a1a,-34vw 48vh 1px 1px #ee3a1a,32vw 26vh 1px 1px #ee3a1a,32vw -41vh 1px 1px #ee3a1a,0vw 37vh 1px 1px #ee3a1a,34vw -26vh 1px 0px #ee3a1a,-14vw -49vh 1px 0px #ee3a1a,-12vw 45vh 0px 1px #ee3a1a,-44vw -33vh 0px 1px #ee3a1a,-13vw 41vh 0px 0px #ee3a1a,-36vw -11vh 0px 1px #ee3a1a,-23vw -24vh 1px 0px #ee3a1a,-38vw -27vh 0px 1px #ee3a1a,16vw -19vh 0px 0px #ee3a1a,28vw 33vh 1px 0px #ee3a1a,-49vw -4vh 0px 0px #ee3a1a,16vw 32vh 0px 1px #ee3a1a,36vw -18vh 1px 0px #ee3a1a,-25vw -30vh 1px 0px #ee3a1a,-23vw 24vh 0px 1px #ee3a1a,-2vw -35vh 1px 1px #ee3a1a,-25vw 9vh 0px 0px #ee3a1a,-15vw -34vh 0px 0px #ee3a1a,-8vw -19vh 1px 0px #ee3a1a,-20vw -20vh 1px 1px #ee3a1a,42vw 50vh 0px 1px #ee3a1a,-32vw 10vh 1px 0px #ee3a1a,-23vw -17vh 0px 0px #ee3a1a,44vw 15vh 1px 0px #ee3a1a,-40vw 33vh 1px 1px #ee3a1a,-43vw 8vh 0px 0px #ee3a1a,-48vw -15vh 1px 1px #ee3a1a,-24vw 17vh 0px 0px #ee3a1a,-31vw 50vh 1px 0px #ee3a1a,36vw -38vh 0px 1px #e70808,-7vw 48vh 0px 0px #ee3a1a,15vw -32vh 0px 0px #ee3a1a,29vw -41vh 0px 0px #ee3a1a,2vw 37vh 1px 0px #ee3a1a,7vw -40vh 1px 1px #ee3a1a,15vw 18vh 0px 0px #ee3a1a,25vw -13vh 1px 1px #ee3a1a,-46vw -12vh 1px 1px #ee3a1a,-18vw 22vh 0px 0px #ee3a1a,23vw -9vh 1px 0px #ee3a1a,50vw 12vh 0px 1px #ee3a1a,45vw 2vh 0px 0px #ee3a1a,14vw -48vh 1px 0px #ee3a1a,23vw 43vh 0px 1px #ee3a1a,-40vw 16vh 1px 1px #ee3a1a,20vw -31vh 0px 1px #ee3a1a,-17vw 44vh 1px 1px #ee3a1a,18vw -45vh 0px 0px #ee3a1a,33vw -6vh 0px 0px #ee3a1a,0vw 7vh 0px 1px #ee3a1a,-10vw -18vh 0px 1px #ee3a1a,-19vw 5vh 1px 0px #ee3a1a,1vw 42vh 0px 0px #ee3a1a,22vw 48vh 0px 1px #ee3a1a,39vw -8vh 1px 1px #ee3a1a,-6vw -42vh 1px 0px #ee3a1a,-47vw 34vh 0px 0px #ee3a1a,-46vw 19vh 0px 1px #ee3a1a,-12vw -32vh 0px 0px #ee3a1a,-45vw -38vh 0px 1px #ee3a1a,-28vw 18vh 1px 0px #ee3a1a,-38vw -46vh 1px 1px #ee3a1a,49vw -6vh 1px 1px #ee3a1a,-28vw 18vh 1px 1px #ee3a1a,10vw -24vh 0px 1px #ee3a1a,-5vw -11vh 1px 1px #ee3a1a,33vw -8vh 1px 0px #ee3a1a,-16vw 17vh 0px 0px #ee3a1a,18vw 27vh 0px 1px #ee3a1a,-8vw -10vh 1px 1px #ee3a1a;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px #e70808,12vw -24vh 0px 1px #e70808,-45vw -22vh 0px 0px #e70808,-37vw -40vh 0px 1px #ee3a1a,29vw 19vh 0px 1px #ee3a1a,4vw -8vh 0px 1px #ee3a1a,-5vw 21vh 1px 1px #ee3a1a,-27vw 26vh 1px 1px #ee3a1a,-47vw -3vh 1px 1px #ee3a1a,-28vw -30vh 0px 1px #ee3a1a,-43vw -27vh 0px 1px #ee3a1a,4vw 22vh 1px 1px #ee3a1a,36vw 23vh 0px 0px #ee3a1a,-21vw 24vh 1px 1px #ee3a1a,-16vw 2vh 1px 0px #ee3a1a,-16vw -6vh 0px 0px #ee3a1a,5vw 26vh 0px 0px #ee3a1a,-34vw 41vh 0px 0px #ee3a1a,1vw 42vh 1px 1px #ee3a1a,11vw -13vh 1px 1px #ee3a1a,48vw -8vh 1px 0px #ee3a1a,22vw -15vh 0px 0px #ee3a1a,45vw 49vh 0px 0px #ee3a1a,43vw -27vh 1px 1px #ee3a1a,20vw -2vh 0px 0px #ee3a1a,8vw 22vh 0px 1px #ee3a1a,39vw 48vh 1px 1px #ee3a1a,-21vw -11vh 0px 1px #ee3a1a,-40vw 45vh 0px 1px #ee3a1a,11vw -30vh 1px 0px #ee3a1a,26vw 30vh 1px 0px #ee3a1a,45vw -29vh 0px 1px #ee3a1a,-2vw 18vh 0px 0px #ee3a1a,-29vw -45vh 1px 0px #ee3a1a,-7vw -27vh 1px 1px #ee3a1a,42vw 24vh 0px 0px #ee3a1a,45vw -48vh 1px 0px #ee3a1a,-36vw -18vh 0px 0px #ee3a1a,-44vw 13vh 0px 1px #ee3a1a,36vw 16vh 0px 1px #ee3a1a,40vw 24vh 0px 0px #ee3a1a,18vw 11vh 0px 0px #ee3a1a,-15vw -23vh 1px 0px #e70808,-24vw 48vh 0px 1px #ee3a1a,27vw -45vh 1px 0px #ee3a1a,-2vw -24vh 0px 1px #ee3a1a,-15vw -28vh 0px 0px #ee3a1a,-43vw 13vh 1px 0px #ee3a1a,7vw 27vh 1px 0px #ee3a1a,47vw 5vh 0px 0px #ee3a1a,-45vw 15vh 1px 1px #ee3a1a,-5vw -28vh 0px 1px #ee3a1a,38vw 25vh 1px 1px #ee3a1a,-39vw -1vh 1px 0px #ee3a1a,5vw 0vh 1px 0px #ee3a1a,49vw 13vh 0px 0px #ee3a1a,48vw 10vh 0px 1px #ee3a1a,19vw -28vh 0px 0px #ee3a1a,4vw 7vh 0px 0px #ee3a1a,21vw 21vh 1px 1px #ee3a1a,-15vw -15vh 0px 1px #ee3a1a,-6vw -42vh 1px 0px #ee3a1a,-15vw 48vh 1px 1px #ee3a1a,-23vw 25vh 1px 1px #ee3a1a,-48vw 25vh 0px 1px #ee3a1a,-31vw -19vh 0px 1px #ee3a1a,4vw 37vh 1px 1px #ee3a1a,-43vw 28vh 0px 0px #ee3a1a,3vw -25vh 0px 1px #ee3a1a,-39vw 14vh 0px 1px #ee3a1a,-40vw 31vh 0px 1px #ee3a1a,35vw -36vh 1px 1px #ee3a1a,16vw 49vh 0px 0px #ee3a1a,6vw 39vh 0px 0px #ee3a1a,3vw -35vh 0px 1px #ee3a1a,-44vw -2vh 1px 0px #ee3a1a,-6vw 21vh 1px 0px #ee3a1a,48vw 9vh 1px 1px #ee3a1a,-43vw 30vh 1px 1px #ee3a1a,29vw -12vh 1px 1px #ee3a1a,-48vw 13vh 1px 0px #ee3a1a,-42vw 32vh 1px 1px #ee3a1a,34vw 15vh 1px 1px #ee3a1a,29vw -37vh 1px 1px #ee3a1a,28vw 2vh 0px 0px #ee3a1a;
  animation: zoom 17s alternate infinite; 
}

@keyframes zoom {
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1.8);
    }
}


.space {
	background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
	border: 1px dashed purple;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

@keyframes space {
	40% {
		opacity: 0.75;
	}

	50% {
		opacity: 0.25;
	}

	60% {
		opacity: 0.75;
	}

	100% {
		transform: rotate(360deg);
	}
}

.stars1 {
	animation: space 180s ease-in-out infinite;
	background-image:
		radial-gradient(1px 1px at 25px 5px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(1px 1px at 50px 25px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(1px 1px at 125px 20px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(1.5px 1.5px at 50px 75px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(2px 2px at 15px 125px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(2.5px 2.5px at 110px 80px,
			white,
			rgba(255, 255, 255, 0));
}

.stars2 {
	animation: space 240s ease-in-out infinite;
	background-image:
		radial-gradient(1px 1px at 75px 125px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(1px 1px at 100px 75px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(1.5px 1.5px at 199px 100px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(2px 2px at 20px 50px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(2.5px 2.5px at 100px 5px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(2.5px 2.5px at 5px 5px,
			white,
			rgba(255, 255, 255, 0));
}

.stars3 {
	animation: space 300s ease-in-out infinite;
	background-image:
		radial-gradient(1px 1px at 10px 10px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(1px 1px at 150px 150px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(1.5px 1.5px at 60px 170px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(1.5px 1.5px at 175px 180px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(2px 2px at 195px 95px,
			white,
			rgba(255, 255, 255, 0)),
		radial-gradient(2.5px 2.5px at 95px 145px,
			white,
			rgba(255, 255, 255, 0));
}

#app {
	opacity: 0;
	animation: appZoom 1s forwards .2s;
}

@keyframes appZoom {
	0% {
		scale: 1.1;
		opacity: 0;
	}
	100% {
		scale: 1;
		opacity: 1;
	}
}

#container {
	position: fixed;
	touch-action: none;
  }

@font-face {
	font-family: '8bitOperatorPlus-Bold';
	src: url('https://toby.fangamer.com/assets/fonts/8bitOperatorPlus-Bold.woff2') format('woff2'),
		url('https://toby.fangamer.com/assets/fonts/8bitOperatorPlus-Bold.woff') format('woff');
	/* Optional: for broader browser support */
	font-weight: normal;
	font-style: normal;
}

/* General text */
h1,
h2,
h3,
b,
input {
	display: inline;
	font-family: "8bitOperatorPlus-Bold", monospace
}

/* These are styles for different states of components. You can make layer-specific versions with .c.locked, for example */
.locked {
	background-color: #bf8f8f;
	cursor: not-allowed;
}

/* Can meens can be clicked/bought/etc */
.can {
	cursor: pointer;
}

.can:hover {
	transform: scale(1.2, 1.2);
	box-shadow: 0 0 20px var(--points)
}

.bought {
	background-color: #6cc150;
	cursor: default;
}

.bought:hover {
	transform: scale(1.25, 1, 25);
	box-shadow: 0 0 20px var(--points);
	z-index: 999
}

#points {
	color: var(--points);
	text-shadow: 0 0 10px var(--points);
}

.background {
	background-image: var(--background-img);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(5px);

	position: fixed;
	width: calc(100vw + 20px);
	height: calc(100vh + 20px);
	top: -10px;
	left: -10px;
	z-index: -1;
	opacity: 0;
	animation: bgZoom 1s forwards .2s;
}

@keyframes bgZoom {
	0% {
		scale: 1.1;
		opacity: 0;
	}
	100% {
		scale: 1;
		opacity: 0.6;
	}
}