#upgrade-P-11.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}

#upgrade-P-12.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}

#upgrade-P-13.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}

#upgrade-P-14.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}

#upgrade-P-15.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}

#upgrade-P-21.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}

#upgrade-P-22.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}

#upgrade-P-23.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}

#upgrade-P-24.P.tooltipBox.upg.bought{
	color: black;
	text-shadow: rgb(6, 12, 20) 3px 3px 10px ;
	background: rgb(12, 189, 92);
	background-image:repeating-linear-gradient(45deg,
      hsla(204, 48%, 17%, 0.384),
      hsla(204, 48%, 17%, 0.384) 15px,
      transparent 0,
      transparent 30px);
	background-size: 1000% 1000%;
	background-position: 0% 0%;
	animation: main 120s linear infinite;
	border: 2px solid rgb(10, 136, 38);
}