
/* Prestige button */
.reset {
	height: 120px;
	width: 180px;
	border-radius: 25%;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

.tabButton {
	background-color: transparent;
	color: var(--color);
	font-size: 20px;
	cursor: pointer;
	padding: 5px 20px;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid;
	color: var(--color);

}

.tabButton:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0 0 7px var(--color);
}

.tooltip { 
    pointer-events: none;
    text-align: center;
    width: 400px;
    font-size: 16px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 7px;
    font-family: "8bitOperatorPlus-Bold", monospace;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
  
    position: absolute;
    z-index: 20000;
  
    background-color: var(--background_tooltip);
    color: var(--points);
    content: attr(tooltip);
    font-size:14px;

}

.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;

    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background_tooltip) transparent transparent transparent;
}

/* Horizontal/vertical lines */
.vl {
	border-left: 6px solid var(--color);
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0
}

.hl {
	border-top: 3px solid var(--color);
}

padding {
    padding: 10px 10px;
}

special {
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    color: #000000ba;
    animation: developer 15s ease infinite;
  }

@keyframes developer {
    0% {
        color: yellow;
		text-shadow: rgba(0, 0, 0, 0) -3px -3px;
	}
    25% {
        color: rgba(0, 0, 0, 0);
		text-shadow: white 0px 0px;
	}
	50% {
        color: yellow;
		text-shadow: rgba(0, 0, 0, 0) 10px 10px;
	}
    75% {
        color: rgba(0, 0, 0, 0);
		text-shadow: white 0px 0px;
	}
	100% {
        color: yellow;
		text-shadow:  rgba(0, 0, 0, 0) -3px -3px;
	}
}

power {
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    color: #00000000;
    animation: powerbox 3s ease infinite;
    transform: rotate(0deg);
  }

@keyframes powerbox {
    0% {
        color: yellow;
    }
	50% {
        color: rgba(0, 0, 0, 0);
    }
	100% {
        color: yellow;
	}
}

hide {
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    color: #3634345d;
    animation: secretbox 10s ease infinite;
  }

@keyframes secretbox {
    0% {
        color: #3634345d;
    }
	50% {
        color: rgba(100, 97, 97, 0.105)
    }
	100% {
        color: #3634345d;
	}
}


/* All Developer Chat Colors inside the Newsletter */
orion {
    color: cyan
}

jj {
    color: lime
}

tidal {
    color: rgb(201, 153, 7)
}

plasma {
    color: rgb(74, 74, 223)
}

rory {
    color: red
}

vali {
    color: rgb(250, 125, 146)
}

bat {
    color: red;
    animation: reality 10s linear infinite;
}

@keyframes reality {
    0% {
        color: red
    }
    25% {
        color:rgb(185, 129, 129)
    }
    50% {
        color: grey
    }
    75% {
        color:rgb(185, 129, 129)
    }
    100% {
        color: red
    }
}

anim1 {
    color: rgba(255, 255, 255, 0);
    animation: move1 5s linear infinite;
}

@keyframes move1 {
	0% {
		text-shadow: 0px 0px #ffffff;
	}
	12% {
		text-shadow: 0px 10px #ffffff;
	}
	24% {
		text-shadow: 0px 20px #ffffff;
	}
    36% {
		text-shadow: 0px 10px #ffffff;
	}
	48% {
		text-shadow: 0px 0px #ffffff;
	}
    62% {
		text-shadow: 0px -10px #ffffff;
	}
    74% {
		text-shadow: 0px -20px #ffffff;
	}
    87% {
		text-shadow: 0px -10px #ffffff;
	}
    100% {
		text-shadow: 0px 0px #ffffff;
	}
}

anim2 {
    color: rgba(255, 255, 255, 0);
    animation: move2 5s linear infinite;
}

@keyframes move2 {
	0% {
		text-shadow: 0px 10px #ffffff;
	}
	12% {
		text-shadow: 0px 20px #ffffff;
	}
	24% {
		text-shadow: 0px 10px #ffffff;
	}
    36% {
		text-shadow: 0px 0px #ffffff;
	}
	48% {
		text-shadow: 0px -10px #ffffff;
	}
    62% {
		text-shadow: 0px -20px #ffffff;
	}
    74% {
		text-shadow: 0px -10px #ffffff;
	}
    87% {
		text-shadow: 0px 0px #ffffff;
	}
    100% {
		text-shadow: 0px 10px #ffffff;
	}
}

anim3 {
    color: rgba(255, 255, 255, 0);
    animation: move3 5s linear infinite;
}

@keyframes move3 {
	0% {
		text-shadow: 0px 20px #ffffff;
	}
	12% {
		text-shadow: 0px 10px #ffffff;
	}
	24% {
		text-shadow: 0px 0px #ffffff;
	}
    36% {
		text-shadow: 0px -10px #ffffff;
	}
	48% {
		text-shadow: 0px -20px #ffffff;
	}
    62% {
		text-shadow: 0px -10px #ffffff;
	}
    74% {
		text-shadow: 0px 0px #ffffff;
	}
    87% {
		text-shadow: 0px 10px #ffffff;
	}
    100% {
		text-shadow: 0px 20px #ffffff;
	}
}

anim4 {
    color: rgba(255, 255, 255, 0);
    animation: move4 5s linear infinite;
}

@keyframes move4 {
		0% {
		text-shadow: 0px 10px #ffffff;
	}
	12% {
		text-shadow: 0px 0px #ffffff;
	}
	24% {
		text-shadow: 0px -10px #ffffff;
	}
    36% {
		text-shadow: 0px -20px #ffffff;
	}
	48% {
		text-shadow: 0px -10px #ffffff;
	}
    62% {
		text-shadow: 0px 0px #ffffff;
	}
    74% {
		text-shadow: 0px 10px #ffffff;
	}
    87% {
		text-shadow: 0px 20px #ffffff;
	}
    100% {
		text-shadow: 0px 10px #ffffff;
	}
}

/* This is for the Red Shadow Boxes */


wait1 {
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
    animation: waiting1 20s linear infinite;
}

@keyframes waiting1 {
	0% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
	25% {
		text-shadow: 0px 0px #bd5d5d;
	}
	50% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
    75% {
		text-shadow: 0px 15px #bd5d5d;
	}
	100% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
}

wait2 {
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
    animation: waiting2 20s linear infinite;
}

@keyframes waiting2 {
	0% {
		text-shadow: 0px 15px #bd5d5d;
	}
	25% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
	50% {
		text-shadow: 0px 0px #bd5d5d;
	}
    75% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
	100% {
		text-shadow: 0px 15px #bd5d5d;
	}
}

wait3 {
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
    animation: waiting3 20s linear infinite;
}

@keyframes waiting3 {
	0% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
	25% {
		text-shadow: 0px 15px #bd5d5d;
	}
	50% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
    75% {
		text-shadow: 0px 0px #bd5d5d;
	}
	100% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
}

wait4 {
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
    animation: waiting4 20s linear infinite;
}

@keyframes waiting4 {
	0% {
		text-shadow: 0px 0px #bd5d5d;
	}
	25% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
	50% {
		text-shadow: 0px 15px #bd5d5d;
	}
    75% {
		text-shadow: 0px 7.5px #bd5d5d;
	}
	100% {
		text-shadow: 0px 0px #bd5d5d;
	}

}