.theme-default {
	--color: #b95555;
	--points: #ffffff;
	--locked: #bf8f8f;
	--background: #0f0f0f;
	--background_tooltip: rgba(0, 0, 0, 0.75);
}

.theme-E205 {
    --background-img: url('https://media.discordapp.net/attachments/1122947477935509598/1169764255118147654/download_2.png?ex=655696db&is=654421db&hm=1637e4c6e49257bae0d7aab3e16b8658df7353d80ee2fbc97287f7d6801bff44&=&width=1015&height=676');
}