.theme-default {
	--1: "#ffffff";
	--2: "#bfbfbf";
	--3: "#7f7f7f";
	--color: #c2acac;
	--points: #4f81d1;
	--locked: #8a7f7f;
	--background: #0f0f0f;
	--background_tooltip: rgba(0, 0, 0, 0.75);
}

.theme-E205 {
    --background-img: url('https://media.discordapp.net/attachments/1122947477935509598/1169764255118147654/download_2.png?ex=655696db&is=654421db&hm=1637e4c6e49257bae0d7aab3e16b8658df7353d80ee2fbc97287f7d6801bff44&=&width=1015&height=676');
}

.theme-E205_outside {
    --background-img: url('https://cdn.discordapp.com/attachments/1122947477935509598/1169952858901331969/image.png?ex=65574682&is=6544d182&hm=a59c24cd9c57a4fd6aa820a1c4d516a83100ece7ab6668fde1c13bd1d185ea9f&');
}